---
name: Checks

on: [push]

jobs:
  test-link:
    name: Test and Lint
    runs-on: ubuntu-20.04
    env:
      DB_NAME=${{ secrets.DB_NAME }}
      DB_USERNAME=${{ secrets.DB_USERNAME }}
      DB_PASSWORD=${{ secrets.DB_PASSWORD }}
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Test
        run: docker-compose run --rm app sh -c "python manage.py wait_for_db && python manage.py test"
      - name: Lint
        run: docker-compose run --rm app sh -c "flake8"
